# Byte compiled files
*.py[cod]
__pycache__/

# packaging files
*.egg-info
*.whl

# automatic temp file cruft
.DS_Store
*~
*#
*.swp

# typical name for python virtual environment
venv/

# IDE files
.idea/
